@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title-header {
  text-transform: uppercase;
  text-align: center;
  color: #2c2e63;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.add-remove-button {
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 0.7em;
}

.details-list-item {
  background: #f3f3f3;
  color: #333333;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 0.9em;
}

.details-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.details-actions {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.details-done {
  text-decoration: line-through;
  opacity: 0.6;
}
